html {
  background-color: #333333;
  width: inherit;
}

/* header {
  top: 0px;
  left: 0px;
  right: 0px;
  position: fixed;
  background: #444444;
  border-bottom: 1px solid white;
  width: inherit;
} */

label {
  color: white;
  font-size: 14pt;
  font-family:'Times New Roman', Times, serif;
}
dd {
  color: white;
  font-size: 12pt;
  font-family:'Times New Roman', Times, serif;
}

nav ul{height:100px; width:25%;}
nav ul{overflow:hidden; overflow-y:scroll;}

h1 {
  color: white;
  font-family:'Times New Roman', Times, serif;
}
h2 {
  color: white;
  font-family:'Times New Roman', Times, serif;
}
h3 {
  color: white;
  font-family:'Times New Roman', Times, serif;
}
summary {
  color: white;
  font-family:'Times New Roman', Times, serif;
}
div{
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
  background-color: #333333;
  color: white;
  border: none;
  font-size: 14pt;
  font-family:'Times New Roman', Times, serif;
}

.unused {
  text-decoration: line-through;
}

.line {
  border-top: 1px solid white;
}
/* 
.dropdown {
  background-color: #333333;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.dropdown#selectedHeaderDropdown {
  border-bottom-left-radius:  0px;
  border-bottom-right-radius: 0px;
  border-bottom-style:       none;
}

.dropdown:hover {
  background-color: gray;
} */